#sezione-valoricibo{
    margin-top: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.2em;
}

.testo_prodotto{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight:bold;
}

.testo_prodotto span{
    font-weight: normal;
    font-size: 1em;
    display: flex;
    justify-content: center;
}


form{
    text-align: center;
    font-weight:bold;
}

.nomi_ingredienti{
    display:flex;
    flex-direction: column;
}

.descrizione{
    font-size:1.3em;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#testo h1,span{
    text-align:center;
}

#testo span{
    font-size: 1.2em;
}

#testo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#video{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}


footer{
    background-color:#292929;
    margin: 40px 0px 0px 0px;
    color: grey;
    text-align:center;
    letter-spacing: 2px;
    padding: 50px;
}

html{
    background-color: rgb(243, 241, 241);
}

body {
    font-family: 'Montaga', serif;
    font-size: 16px;
    margin: 0px 0px;
  }

header{
    color: white;
    background-image: url(https://images.unsplash.com/photo-1580913428706-c311e67898b3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-size: cover;
    height: 100px;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

header::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.3);
}

header nav{
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
 
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#logo{
    font-size: 3em;
    font-style: italic;
    color: white;
    text-decoration: none;
}

#links a{
    margin: 20px;
    color: white;
    text-decoration: none;
}

a{
    cursor: pointer;
}

a.pulsante{
  background-color:grey;
  border-radius: 100px;
  padding: 10px 15px;
  border: 2px solid white;
}

a.pulsante:hover{
    background-color: black;
    text-transform: uppercase;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    position: relative;
    right: 20%;
}

#menu{
    display:none;
}

